body {
    margin: 0;
}

header {
    width: 1200px;
    height: 150px;
    margin: auto;
    display: grid;
    grid-template-columns: 600px 600px;
}

.logo-container {
    padding-left: 25px;
    padding-top: 10px;
}

.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    font-size: 16px;
}

.schedule {
    height: 30px;
    display: flex;  
    align-items: center;
}

.clock-logo-container {
    margin-right: 10px;
}

.address {
    height: 30px;
    display: flex;   
    align-items: center;
}

.envelope-logo-container {
    margin-right: 10px;
}


.menu-bar {
    background-color: rgb(133, 110, 11);
    width: 1200px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link {
    padding: 0px 30px;
    margin-left: 15px;
}

.menu-link a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    color: white;
}

.menu-link a:hover {
    color: black;
}

.fb-logo-container {
    padding-right: 10px;
    cursor: pointer;
}

.bg-photo-container {
    position: relative;
}

.bg-photo {
    width: 100%;
    height: 650px;
}

.text-box-container {
    width: 400px;
    position: absolute;
    right: 15%;
    bottom: 30%;
}

.text-box-one {
    background-color: rgb(133, 110, 11);
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    margin-bottom: 5px;
}

.text-box-two {
    background-color: rgb(100, 99, 99);
    color: white;
    font-size: 15px;
    padding: 2px 20px;
}

.shopping-card-container{
    position: relative;
    width: 1200px;
    margin: auto;
    margin-top: -100px;
}

.shopping-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
}

.shopping-card {
    background-color: white;
    padding: 10px 10px;
}

.shopping-card-img {
    height: 214px;
}

.shopping-card-img:hover {
    opacity: 0.6;
    transition: opacity 0.8s;
}

.shopping-title {
    font-size: 20px;
    font-weight: 700;
}

.shopping-info {
    line-height: 20px;
    height: 130px;
}

.read-more-button a {
    padding: 12px 20px;
    background-color: rgb(133, 110, 11);
    text-decoration: none;
    color: white;
    font-size: 16px;
    border-radius: 2px;
}

.read-more-button a:hover {
    color: rgb(218, 214, 214);
}

.middle-section {
    margin-top: 30px;
    background-color: rgb(241, 240, 240);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    margin-left: 30px;
    margin-top: -70px;
    width: 600px;
    font-size: 17px;
    line-height: 24px;
}

.text-container h4 {
    font-size: 25px;
}

.bottom-section {
    width: 100%;
    height: 500px;
    margin-top: -20px;
}

.bottom-section-box {
    width: 1200px;
    height: 350px;

    margin: auto;
}

.title-box {
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
}

.title-box p {
    text-align: center;
    padding-top: 35px;
    font-size: 25px;
    font-weight: 700;
}

.bottom-section-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    border: 1px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
}

.event-card {
    width: 500px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    border: 1px;
    border-color: rgb(211, 211, 211);
    border-right: 5px;
    border-right-color: rgb(133, 110, 11);
    border-style: solid;
}

.event-image {
    height: 200px;
    margin-top: -40px;
    margin-left: 20px;
}

.event-title-date {
    padding: 20px 0px;
}

.event-title {
    font-size: 17px;
    color: rgb(133, 110, 11);
    height: 60px;
}

.event-date {
    margin-top: -16px;
    margin-bottom: 15px;

    height: 70px;
}

.more-button {
    margin-top: 20px;
    margin-left: 40px;
}

.more-button a {
    background-color: rgb(78, 78, 78);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.more-button a:hover {
    color: rgb(218, 214, 214);
}

.footer-section {
    width: 100%;
    height: 200px;
    margin-top: -50px;
    background-color: rgb(44, 43, 43);
}

.footer {
    width: 1200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.location {
    width: 555px;
    padding: 10px 20px;
}

.location p {
    color: white;
    line-height: 30px;
    font-size: 16px;
}

.company-copyright {
    margin-top: -25px;
}

.location .company-copyright {
    color: gray;
}

.company-copyright .web-design,
.company-copyright .company-name {
    text-decoration: none;
}

.company-copyright .web-design {
    color: gray;
}

.company-copyright .web-design:hover {
    color: white;
}

.company-copyright .company-name {
    color: white;
}

.company-copyright .company-name:hover {
    color: gray;
}

.company-link-box {
    width: 400px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.company-link {
    padding: 40px 0px;
}

.company-link a {
    text-decoration: none;
    color: gray;
}

.company-link a:hover {
    color: white;
}

.company-logo {
    padding: 10px 35px 10px 10px;
}

.company-logo:hover {
    cursor: pointer;
}
